<h1>Sign In</h1>
<form action="/users" method="post">
  <%= auth_token %>
  <label for="Username">Username</label>
  <input type="text" name="user[username]" id="Username" value=" <%= @user.username %>">
  <br>
  <label for="Password">Password</label>
  <input type="password" name="user[password]" id="Password" value="">
  <br>
  <input type="submit" value="Sign In">
</form>
