<div class="landing-image">

  <div class="auth-title">
    <h1>Code Hunt</h1>
    <p class="tagline">Discover the best developer-friendly products.</p>
  </div>

  <div class="centered-box">
    <img src="assets/logo-landing"/>
    <br>
    <div class="auth-wrapper">
      <h3 class="auth-header">Sign Up</h3>
      <form class="auth_form" action="/users" method="post">
        <%= auth_token %>
        <input type="text" name="user[username]" id="Username" placeholder="Username" value="<%= @user.username.nil? ? '' : "#{@user.username}"%>">
        <br>
        <br>
        <input type="password" name="user[password]" id="Password" value="" placeholder="Password">
        <br>
        <br>
        <input type="text" name="user[bio]" id="Bio" value="" placeholder="Student @ Appacademy" value="<%= @user.bio.nil? ? '' : "#{@user.bio}"%>">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Sign Up">
      </form>
      <p class="auth-footer">
        Already have an account ? <%= link_to "Sign In!", new_session_url %>
      </p>
    </div>
  </div>

</div>
