/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-theme.min
 */


input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #EEEEEE;
  border-bottom: 1px #a9a9a9 solid;
}

input:focus {
  outline:none;
}

.centered-box {
  height:1000px;
  width: 35%;
  /*position: relative;*/
  top: 50px;
  transform: translateY(-15%);
  text-align: center;
  background-color: #eee;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  border-bottom: 2px #a9a9a9 solid;
  float: right;
}

.auth-wrapper {
  position: relative;
  top: 350px;
}

.auth-title {
  position: relative;
  top: 250px;
  left: 100px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: white;
  font-size: 30px;

}

.auth-footer {
  font-size: 10px;
  position: relative;
  top: 60px;
}

.auth-header {
  position: relative;
  top: 10px;
}

.auth_form {
  text-align: center;
  position: relative;
  top: 30px;
}

.tagline {
  font-size: 24px;
}
