/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-theme.min
 */

/*Landing page stuff*/

input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #EEEEEE;
  border-bottom: 1px #a9a9a9 solid;
}

input:focus {
  outline:none;
}

body, html {
  height: 100%;
}

.centered-box {
  height:100%;
  width: 35%;
  position: relative;
  transform: translateY(-20%);
  text-align: center;
  background-color: #eee;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px #a9a9a9 solid;
  float: right;
  box-shadow: 0 0 15px #000000;
}

.auth-wrapper {
  position: relative;
  top: 300px;
}

.auth-title {
  position: relative;
  top: 250px;
  margin-left: 100px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: white;
  font-size: 30px;
  text-shadow: 0px 3px 4px #555;
}

.auth-footer {
  font-size: 10px;
  position: relative;
  top: 60px;
}

.auth-header {
  position: relative;
  top: 10px;
}

.auth_form {
  text-align: center;
  position: relative;
  top: 30px;
}

.tagline {
  font-size: 24px;
  text-shadow: 0px 4px 6px #555;
}

.landing-image {
  background-image: url('http://s3.amazonaws.com/fotor.cdn/share.url/257581101faf4d5f9674a8852a41545a.jpeg');
  background-size: cover;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

/*TODO: logo-landing*/
/*.logo-landing {
background-image: image_path("logo_canva.jpg");
}​*/

/*Header stuff*/

.navbar {
  display: inline;
}

#logo-page {
  display: inline;
  position: relative;
  left: 30px;
  font-size: 30px;
}

.header-new-product-button {
  float: right;
  border-radius: 100px;
  margin: 10px;
  position: relative;
  right: 20px;
  display: inline-block;
}

.header-profile-button {
  float: right;
}




/*Index page stuff*/

.index-products-list-item {
  list-style: none;
  display: block;
  padding: 30px;
  cursor: pointer;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 80px;
}

.list-item-title {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  display: inline;
  border-radius: 3px;
}

.list-item-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #ccc;
  position: relative;
  bottom: 10px;
}

li.index-products-list-item:hover {
  background-color: brown;
  opacity: 0.2;
  color: black;
  border-radius: 3px;
}

li.list-item-title:hover {
  color: black;
}

li.list-item-description:hover {
  color: #ccc;
}

/*New product form*/


.new-product-form-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(50%);
  text-align: center;
}

.form-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 100px;
  height: 400px;
  width: 500px;
}

.form-title {
  font-size: 30px;
}

.form-box-container {
  margin: 30px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 15px;
}

  .form-box-item-line {
    margin-bottom: 20px;
    float: left;
    width: 500px;
  }

    .label-form {
      font-size: 16px;
      float: left;
    }

    input.new-product-form-input {
      background-color: white;
      width: 500px;
      margin: 5px 15px 15px 0;
      float: left;
    }

  .form-submit-button {
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    width: 350px;
  }

/*height:100%;
width: 35%;
position: relative;
transform: translateY(-20%);
text-align: center;
background-color: #eee;
text-align: center;
margin-left: auto;
margin-right: auto;
font-family: 'Open Sans', sans-serif;
border-bottom: 2px #a9a9a9 solid;
float: right;
box-shadow: 0 0 15px #000000;*/
