/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-theme.min
 */



 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
/*

*/

a {
  text-decoration: none !important;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*Landing page stuff*/

input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #EEEEEE;
  border-bottom: 1px #a9a9a9 solid;
}

input:focus {
  outline:none;
}

body, html {
  height: 100%;
}

.centered-box {
  height:100%;
  width: 35%;
  position: fixed;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  background-color: #eee;
  text-align: center;
  /*margin-left: auto;
  margin-right: auto;*/
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px #a9a9a9 solid;
  float: right;
  box-shadow: 0 0 15px #000000;
}

.small-logo-landing {
  position: relative;
  top: 30%;
}

.auth-wrapper {
  position: relative;
  top: 200px;
}

.auth-title {
  position: relative;
  top: 250px;
  margin-left: 100px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: white;
  font-size: 30px;
  text-shadow: 0px 3px 4px #555;
}

.auth-footer {
  font-size: 10px;
  position: relative;
  top: 60px;
}

.auth-header {
  position: relative;
  top: 10px;
}

.auth_form {
  text-align: center;
  position: relative;
  top: 30px;
}

.tagline {
  font-size: 24px;
  text-shadow: 0px 4px 6px #555;
}

.landing-image {
  background-image: url('http://s3.amazonaws.com/fotor.cdn/share.url/257581101faf4d5f9674a8852a41545a.jpeg');
  background-size: cover;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  min-width: 50%;
  min-height: 50%;
}

/*TODO: logo-landing*/
/*.logo-landing {
background-image: image_path("logo_canva.jpg");
}​*/

/*Header stuff*/

.navbarr {
  width: auto;
  height: 80px;
  margin: 0;
  border-bottom: 1px solid #eee;
  box-shadow: 1px 1px 1px #eee;
}

.header-logo {
  width: 17%;
  position: relative;
  bottom: 2px;
}

.logo-page {
  display: inline;
  position: relative;
  margin: 0;
  top: 16px;
  left: 30px;
  font-size: 30px;
  cursor: pointer;
  color: black;
  text-decoration: none !important;
}

.logo-page:hover {
  margin: 0;
  text-decoration: none !important;
}

.header-new-product-button {
  float: right;
  background-color: #FDDD10;
  border-radius: 50%;
	width: 50px;
	height: 50px;
  margin: 10px;
  position: relative;
  top: 5px;
  right: 20px;
  display: inline-block;
  padding: 0px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  color: white;
}

.header-new-product-button:hover {
  opacity: 0.8;
}


.header-profile-button {
  float: right;
}




/*Index page stuff*/

.homepage-image {
  width: 100%;
}

.index-list {
  margin: 0;
}

.index-products-list-item {
  list-style: none;
  display: block;
  padding: 30px;
  cursor: pointer;
  width: 1000px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 80px;
  right: 20px;
}

.item-wrapper {
  position: relative;
  bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.item-title-description {
  position: relative;
  left: 100px;
  bottom: 10px;
  display: block;
}

.list-item-title {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  display: inline;
  border-radius: 5px;
  color: #293244;
}

.list-item-title:hover {
  text-decoration: underline;
}

.list-item-description {
  font-family: 'Open Sans', sans-serif;
  width: 530px;
  font-size: 18px;
  color: #ccc;
  position: relative;
  bottom: 10px;
}

.list-item-description:hover {
  color: #A9A9A9;
}

li.index-products-list-item:hover {
  background-color: rgba(255, 215, 3, 0.2);
  color: black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.name-container {
  width: 250px;
  height: 65px;
  text-align: center;
  float: right;
  position: relative;
  bottom: 75px;
}


.list-item-comments-nb {
  float: right;
  position: relative;
  bottom: 35px;
  right: 60px;
  font-family: Roboto;
  color: #ccc;
  width: 60px;
  height: 27px;
  bottom: 75px;
  /*margin-right: 20px;*/
}

.list-item-comments-nb:hover {
  color: #a9a9a9;
}

.comment-nb {
  position: relative;
  bottom: 18px;
  left: 50px;
}

.icon-comment {
  position: relative;
  left: 20px;
}

.list-item-ext-link {
  z-index: 1;
}

.item-username {
  padding: 0px;
  margin: 0;
  position: relative;
  left: 100px;
  margin-right: 40px;
  float: lzft;

}

.upvote-button {
  font-weight: 600;
  margin-right: 15px;
  width: 40px;
  height: 70px;
  text-align: center;
  padding: 4px 0;
  border-radius: 4px;
  position: relative;
  top: 43px;
  margin-top: 0;
  left: 20px;
  z-index: 2;
  background-color: white;
}

.upvote-button:hover {
  background-color: #fff;
  color: #5687E9;
  transform: scale(1.1);
}

.upvote-button:active {
  color: #5687E9;
}

.up-icon {
  margin-top: 12px;
}




/*New product form*/


.new-product-form-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(50%);
  text-align: center;
}

.form-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 100px;
  height: 400px;
  width: 500px;
}

.form-title {
  font-size: 30px;
}

.form-box-container {
  margin: 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 15px;
}

::-webkit-input-placeholder {
  opacity: 0.3;
}
:-ms-input-placeholder {
  opacity: 0.3;
}
::-moz-placeholder {
  opacity: 0.3;
}

/*input:focus::-webkit-input-placeholder { color:transparent; }*/

  .form-box-item-line {
    margin-bottom: 20px;
    float: left;
    width: 500px;
  }

    .label-form {
      font-size: 16px;
      float: left;
    }

    input.new-product-form-input {
      background-color: white;
      width: 500px;
      margin: 10px 15px 15px 0;
      float: left;
      font-size: 16px;
    }

  .form-submit-button {
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    width: 350px;
  }

  .leave-form-button {
    float: left;
    background-color: #FFF;
    border: 1px grey solid;
    border-radius: 50%;
  	width: 50px;
  	height: 50px;
    margin: 10px;
    position: relative;
    left: 70px;
    display: inline-block;
    transform: translateY(-340%);
    padding: 1px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
  }


  .leave-form-button:hover {
    background-color: #eee;
    text-decoration: none;
  }

/*TODO Search bar: A inclure plus tard dans le header.jsx*/

/*
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);


#wrap {
  background: #DDD;
  font-size: 10px;
  margin: 10px 10px;
  display: inline-block;
  position: relative;
  height: 30px;
  float: right;
  padding: 0;
  position: relative;
  right: 400px;
}

input[type="text"] {
  height: 30px;
  font-size: 10px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

*/



/*Product preview*/

.product-preview-page {
  width: 700px;
  height: 770px;
  float: right;
}



/*Product Page*/

.big-div-product-page {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.product-page-container {
  margin: 0;
  height: 100%;
}

.product-page-info {
  background-color: #eee;
  height: 300px;
  text-align: center;
  margin: 0;
}

img.product-picture {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.3);

}

.product-info-wrapper {
  position: relative;
  top: 70px;
}

.product-name-product-page {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
}

.product-description-product-page {
  font-family: Roboto;
  font-size: 20px;
}

.product-link-product-page {
  font-family: Roboto;
  border-radius: 10px;
  width: 70px;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #293244;
  color: white;
  font-size: 14px;
}

.product-link-product-page:hover {
  background-color: rgba(41, 50, 68, 0.9);
}

.try-it-btn {
  color: white;
  text-decoration: none;
  z-index: 1;
  margin-top: 20px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 35px;
}

.try-it-btn:hover {
     color:white;
     text-decoration:none;
     cursor:pointer;
     width: 70px;
     margin-left: auto;
     margin-right: auto;
}

.product-page-upvote-button {
  float: left;
  position: relative;
  top: 20px;
  background-color: white;
  border-radius: 50px;
  font-weight: 600;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 4px 0;
  border-radius: 4px;
  margin-top: 0;
  left: 30px;
  z-index: 2;
  background-color: white;
  vertical-align: middle;
}

.product-page-upvote-button:hover {
  background-color: #fff;
  color: #5687E9;
  transform: scale(1.1);
  cursor: pointer;
}


.up-icon-product-page {
  position: relative;
  bottom: 1px;
}

.voted-vote {
  color: #5687E9;
}

.count-vote-page {
  position: relative;
  bottom: 10px;
}

.number-of-votes {
  position: relative;
  bottom: 5px;
}

.btn-and-link {
  width: 170px;
  height: 100px;
  display: inline-block;
  text-align: center;
}

.product-page-votes-count {
  position: relative;
  bottom: 7px;
}

/*.product-page-body-container {
  display: inline-block;
}*/

.product-page-votes-box {
  border: 1px black solid;
  position: relative;
  border-top: 200px;

}

.product-page-upvotes {
  float: left;
  background-color: #FFF;
  border: 1px grey solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /*margin: 10px;*/
  position: relative;
  /*left: 200px;*/
  display: inline-block;
  /*transform: translateY(-220%);*/
  padding: 1px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}


.leave-product-page-button {
  /*float: left;*/
  background-color: #eee;
  border: 1px grey solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
	position: absolute;
	z-index: 1;
  /*margin: 10px;*/
  /*position: relative;*/
  left: 100px;
  display: inline-block;
  transform: translateY(50%);
  padding: 1px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  color: grey;
}


/*Comments on product page*/

.comments-container {
  border-right: 1px #F2F2F2 solid;
  width: 60%;
  margin: 0;
  height: 100%;
  position: relative;
  left: 100px;
	display: inline;
	float: left;
}


.form-and-comments {
  position: relative;
  bottom: 20px;
}

li {
  list-style: none;
}

.comment-item-container {
  margin: 30px;
  margin-left: -10px;
  /*display: inline;*/
}

.comment-item-header {
  position: relative;
  display: inline;
}

.comment-item-subheader {
  display: inline;
}

.comment-commenter {
  font-weight: bold;
  position: relative;
  bottom: 50px;
  left: 60px;
}
/*bottom: 50px;
left: 60px;*/

.comment-commenter-bio {
  color: #ccc;
  position: relative;
  bottom: 50px;
  left: 60px;
}
/*bottom: 50px;
left: 60px;*/

.comment-body {
  margin: 10px;
  color: #100700;
  position: relative;
  bottom: 50px;
  margin-left: 70px;
}
/*bottom: 50px;
left: 70px;*/

.comment-form {
  margin-top: 50px;
}

.discussion-title {
  font-size: 14px;
  color: #999999;
}

.comment-form-input {
  width: 500px;
  height: 50px;
  border-radius: 4px;
  padding-left:0;
  border: none;
  background-color: white;
  /*border: 1px #eee solid;*/
  -moz-box-shadow: inset 0 0 0.4em #a9a9a9;
  -webkit-box-shadow: inset 0 0 0.4em #a9a9a9;
  box-shadow: inset 0 0 0.4em #a9a9a9;
  padding: 10px;
  padding-bottom: 25px;
  color: #a9a9a9;
}

.comments-list {
  position: relative;
  top: 24px;
}

.comment-form-btn {
  background: transparent;
  border: none !important;
  font-size:0;
  cursor: none;
}


/*Votes on product page*/
.product-body-wrapper {
  display: inline;
  height: 100%;
  position: relative;

  /*display: inline;*/
}

.votes-count-container-product-page {
  float: right;
  width: 25%;
  height: 100%;
  position: relative;
	right: 5%;
	/*display: inline;*/
  /*position: absolute;*/
}

.votes-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #999999;
}

.votes-container {
  position: absolute;
  float: right;
  /*bottom: 1005px;
  right: 27%;*/
  font-family: Roboto;
  font-size: 14px;
  color: #999999;
  font-weight: 500;
  line-height: 15.4;
  /*width: 450px;
  height: 100px;*/
  z-index: 4;
}


/*Profil pic on product list items*/



/*.users-picture-product-list-item {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  border: 1px black solid;
  display: inline-block;
  background-color: white;
}*/

/*.first {
  position: relative;
  left: 100px;
  z-index: 2;
    Transitions
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.first:hover {
  -webkit-transform: translate(-3em,0);
      -moz-transform: translate(-3em,0);
      -o-transform: translate(-3em,0);
      -ms-transform: translate(-3em,0);
      transform: translate(-3em,0);
}*/

/*Profile Page*/

.profile-container {
   height: 100vh;
   width: 100vw;
}

.profile-pic {
  position: relative;
  left: 20%;
  top: 30px;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

img .profile-picture {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.small-cropper {
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  bottom: 5px;
}

.mid-cropper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  bottom: 5px;
}

.voters-list {
  margin-top: 30px;
  position: relative;
  right: 30px;
  /*margin-right: 130px;*/
}

.voters-list-item {
  margin: 10px;
  display: inline-block;
}

.small-profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}


.small-profile-pic:hover {
  cursor: pointer;
}

.profile-info-container {
  width: 100vw;
  background-color: #534540;
  height: 30%;
}

.profile-info-data {
  width: 800px;
  height: 150px;
  color: white;
  /*text-shadow: 0px 1px 2px #999999;*/
  font-size: 40px;
  /*width: 70%;*/
  position: relative;
  left: 30%;
  bottom: 90px;
  /*margin-right: auto;*/
  padding-top: 30px;
}

.user-description {
  color: #B4AEAB;
  font-size: 20px;
}

.edit-button-profile {
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #999999;
}

.edit-button-profile:hover {
  font-size: 14px;
  cursor: pointer;
  color: #A9A9A9;
}

.profile-tabs {
  /*border: 1px solid black;
  border-bottom: none;*/
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 60px;
  border-radius: 3px;
}

.inside-text-tab {
  position: relative;
  bottom: 10px;
  background-color: green;
  color: red;
}

.tab-label {
	position: relative;
	bottom: 10px;
}

.product-list-wrapper-profile-page {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.tab-label-container {
  height: 61px;
  width: 510px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*border: 1px #EEEEEE solid;*/
  border-radius: 4px;
  border-bottom: none;
  /*text-align: center;*/
  /*position:relative;*/
}

.votes-tab {
  margin: 0;
  float:left;
  position:relative;
  width: 230px;
  height: 60px;
  padding-top: 20px;
  color: #C4BFA7;
  font-size: 16px;
  font-family: Roboto;
  border-right: 1px #eee solid;
  cursor: pointer;
  text-align: center;
  border-top: 1px #fff solid;
  border-left: 0.2px #fff solid;
  border-right: 1px #fff solid;
  border-radius: 4px 0 0 0;
}

.tab-selected {
  background-color: white;
}

.votes-tab:hover {
  background-color: #756A66;
}

.posts-tab:hover {
  background-color: #756A66;
}

.posts-tab {
  margin: 0;
  border-radius: 0 4px 0 0;
  border-top: 1px #fff solid;
  border-left: 0.2px #fff solid;
  border-right: 1px #fff solid;
  float:right;
  position:relative;
  width: 230px;
  height: 60px;
  padding-top: 20px;
  color: #C4BFA7;
  font-size: 16px;
  font-family: Roboto;
  /*border-left: 1px #eee solid;*/
  cursor: pointer;
  /*background-color: #756A66;*/
  text-align: center;
}
